<h1 class="my-3 text-primary">Cadastro Galatico</h1>
<div class="card shadow">
    <form class="m-3">
        <div class="row">
            <div class="col-md-12">
                <label for="nome">Nome:</label>
                <input type="nome" 
                class="form-control"
                placeholder="Digite o nome do bicho">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="bicho">Selecione o tipo de animal:</label>
                <select class="form-control">
                    <option>Pardal</option>
                    <option>Pato</option>
                    <option>Gato</option>
                    <option>Macaco</option>
                    <option>Rinoceronte</option>
                    <option>Papagaio</option>
                  </select>
            </div>
            <div class="col-md-6">
                <label for="data">data de nascimento:</label>
                <input type="date" class="form-control">
            </div>
        </div>
        <label for="tipoAnimal">Tipo Animal</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="check" id="terretre" value="terretre" checked>
            <label class="form-check-label" for="terretre">
              Terrestre
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="check" id="aquatico" value="aquatico">
            <label class="form-check-label" for="aquatico">
              Aquático
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="check" id="voador" value="voador">
            <label class="form-check-label" for="voador">
              Voador
            </label>
          </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-success float-right">Cadastro</button>
                <button class="btn btn-danger float-right mr-2">Cancelar</button>
            </div>
        </div> 
        </form>
</div>
