<div class="row flex justify-content-center" style="margin: 15px 0px;">
  <h1>Viagem ao espaço</h1>
</div>
<div class="row flex justify-content-between" style="margin-top:10px; gap: 30px;">
  <div class="card" style="width: 20rem;">
    <img src="../../../assets/TheCatAstronaut.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Gato Astronauta</h5>
      <p class="card-text">"Não tenho certeza de nada, mas a visão das estrelas me faz sonhar"</p>
      <a href="gato-fofo" class="btn btn-primary">Viagem</a>
    </div>
  </div>
  <div class="card" style="width: 20rem;">
    <img src="../../../assets/DuckGo.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Pato Astronauta</h5>
      <p class="card-text">"O preço da liberdade é a indiferença - e não deixe ninguém lhe dizer o contrário, o universo é um lugar extremamente indiferente." <br> <Em>Pato o sábio</Em></p>
      <a href="patinho" class="btn btn-primary">Viagem</a>
    </div>
  </div>
</div>

<div class="row justify-content-between" style="margin-top:10px; gap: 30px;">
  <div class="card" style="width: 20rem;">
    <img src="../../../assets/rabbitGo.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Coelho Astronauta</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="coelho" class="btn btn-primary">Viagem</a>
    </div>
  </div>
  <div class="card" style="width: 20rem;">
    <img src="../../../assets/dogGo.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Cachorro Astronauta</h5>
      <p class="card-text">"O que seria a vida se não tivéssemos coragem de tentar nada?"</p>
      <a href="cachorro" class="btn btn-primary">Viagem</a>
    </div>
</div>
