<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/logo.png" width="30" height="30" alt="" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          Animais galáticos
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/gato-fofo">Gatinho</a>
          <a class="dropdown-item" href="/patinho">Patinho</a>
          <a class="dropdown-item" href="/coelho">Coelho</a>
          <a class="dropdown-item" href="/cachorro">Cachorro</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
